@use '../utilities/mixins';

.slider {
    &__container {
        width: 100%;
        position: relative;
        margin: auto;
        margin-top:5em;
        
        @include mixins.xl-devices {
			 width: 1280px;
             margin-top:4.5em;
		}
    }
    &__slide {
        display: none;
        @include mixins.large-devices {
            height: 650px;
       }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
    &__btn {
        cursor: pointer;
        position: absolute;
        opacity:.4;
        top: 50%;
        width: auto;
        margin-top: -40px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        @include mixins.small-devices {
            margin-top: -22px;
       }
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            opacity:1
        }
        &--next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }
    &__dots {
        &-container {
            position: absolute;
            bottom: .5em;
            left: 50%;
            transform: translateX(-50%);
            @include mixins.medium-devices {
                bottom: 1em;
           }
        }
        &-item {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            @include mixins.large-devices {
                height: 15px;
                width: 15px;
           }
            &:hover {
                @apply bg-actionColor-400;
            }
        }
    }
}

.active {
    @apply bg-actionColor-400;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
